---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: webapps.webapp.viq.io
spec:
  group: webapp.viq.io
  names:
    kind: Webapp
    listKind: WebappList
    plural: webapps
    singular: webapp
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Webapp is the Schema for the webapps API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WebappSpec defines the desired state of Webapp
            properties:
              caProviderAccount:
                description: CaProviderAccount is the account for issuing tls certificates
                type: string
              caProviderUrl:
                default: https://acme-staging-v02.api.letsencrypt.org/directory
                description: CaProviderUrl is the URL account for issuing tls certificates
                type: string
              containerPort:
                default: 80
                description: ContainerPort defines the port that will be used to init
                  the container with the image
                format: int32
                type: integer
              host:
                description: Host defines the host that the Web application will listen
                  on
                type: string
              image:
                default: nginx:latest
                description: Image defines the image for the webapp deployment
                type: string
              replicas:
                default: 3
                description: Replicas defines the number of Webapp instances
                format: int32
                type: integer
            type: object
          status:
            description: WebappStatus defines the observed state of Webapp
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
